body{
    background-color:#52a0ff !important;
}
h1.location{
    text-align: left;
    font-size: 1.5rem;
}
.date,.description{
    float: left;
}
p.time{
    display: block;
}
.info{
    height: 1.5rem;
}
.weather-icon img{
    display: inherit;
}
.app-title h2{
    text-align: center;
    font-size: 1.25rem;
}
.app-title{
    max-width: 20rem;
    display: block;
    margin: 0 auto;
    color: white;
}
.info-1,.info-2,.info-3{
    border-radius: 15px;
    min-height: 6rem;
    padding-top: 1rem;
    color: black;
    min-height: 7rem;
}
.info-1{
    background-color: #fed040;
}
.info-1 p{
    position: relative;
    font-size: 2rem;
}
.info-1 p::after{
    content: "˚";
    position: absolute;
}
.info-2{
    background-color: #3388ff;
    color: white;
}
.info-2 p{
    position: relative;
    font-size: 2rem;
}
.info-2 p::after{
    content: "%";
    position: absolute;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-left: 0.25rem;
}
.info-3{
    background-color: #5beba5;
    padding-top: 0.5rem;
}
.info-3 strong{
    display: inline;
}
.info-3 p{
    margin-bottom: 0rem;
}
.additional-info .col-4{
    padding: 0.25rem;
}
.weather-container {
    width: 100%;
    max-width: 20rem;
    background-color: aliceblue;
    border-radius: 15px;
    display: block;
    margin: 3rem auto;
    padding: 1rem 1rem 0rem;
    text-align: center;
    box-shadow: 0px 5px 30px 0 #000;
}
.temperature-value p{
    font-size: 6rem;
    line-height: 1;
    text-align: right;
    margin-bottom: 0rem;
    margin-top: 1rem;
    position: relative;
}
.temperature-value p::after{
    content: "˚";
    position: absolute;
    right: -2rem;
}
.temperature-value p span{
    font-size: 1.5rem;
}

.description{
    text-transform: capitalize;
    margin-left: 0.25rem;
}
p.max::after{
    content: "˚";
}
p.min::after{
    content: "˚";
}