.App {
  text-align: center;
}

.App-logo {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {

  }
}
.App-intro{
  color: black;
  font-size: 1.25rem;
}
.App-header {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: black;
}
.App-title{
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
