/* article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto;
} */
a{
    text-decoration: none !important;
}
.wp-block-image{
    margin: inherit !important;
}
.entry-content {
    h1 {
        @apply text-2xl mb-2;
    }

    h2 {
        @apply text-xl mb-2 mt-4 font-bold;
    }

    h3 {
        @apply text-lg mb-2 mt-4 font-bold;
    }
    h4{
        @apply font-bold mb-2 mt-4;
    }
    h4 span{
        font-weight: inherit !important;
    }
    p{
        @apply mb-2;
    }
    p, ul, ol {
        a {

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-2;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}
.wp-block-columns p{
    @apply mb-2;
}
/*
  FrontEndMike Custom CSS
*/
.card{
    @apply p-6 bg-white shadow-lg rounded-lg;
}
.main-header{
    @apply px-4 bg-white shadow-md fixed top-0 left-0 w-full z-50  transition-all duration-300 ease-in-out;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  clip: rect(1px, 1px, 1px, 1px); /* Makes the link invisible off-screen */
  overflow: hidden;
}

.skip-link:focus {
  width: auto;
  height: auto;
  clip: auto; /* Makes the link visible when focused */
  position: static;
}
code {
    background-color: #2E3440;
    color: #ECEFF4;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
}

header img{
    max-height: 43px;
    width: auto;
}

#content{
    scroll-padding-top: 140px;
}

.hero{
    height: 30rem;
    left: 0;
    right: 0;
}
.nav-icon{
    padding: 2px 9px;
    font-size: 16px;
}

pre {
    background-color: #2E3440;
    color: #ECEFF4;
    padding: 1rem;
    border-radius: 5px;
    padding: 0.25rem .75rem;
    margin: 0.5rem 0;
    white-space: pre-wrap;
}

.filter-button.active {
    background-color: #000;
    color: white;
    border-color: #000;
}

figure.figure-margin.wp-block-image img {
    margin: 1rem 0 !important;
    display: block !important;
}

.article-element{
    @apply shadow-lg hover:scale-102 transition-transform duration-300 ease-in-out isolate relative border-solid border-black border-1 p-4 rounded-lg relative mb-8
}
.article-element img{
    @apply shadow-lg w-full rounded-lg object-cover mb-4;
}
.article-element h3{
    @apply text-xl font-semibold mb-2 mt-2 leading-none;
}
article > *:not(.entry-content),
.entry-content > * {
    margin-inline: 0 !important;
}
.button{
    @apply shadow-lg border border-black px-3 py-2 bg-white text-black rounded-[25px] hover:bg-black hover:text-white transition-colors duration-300 cursor-pointer text-xl;
}