article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}
/*
  FrontEndMike Custom CSS
*/
.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  clip: rect(1px, 1px, 1px, 1px); /* Makes the link invisible off-screen */
  overflow: hidden;
}

.skip-link:focus {
  width: auto;
  height: auto;
  clip: auto; /* Makes the link visible when focused */
  position: static;
}

header img{
    max-width: 3rem;
}

#content{
    scroll-padding-top: 140px;
}

.hero{
    height: 30rem;
    margin-bottom: 1rem !important;
}